K8S_LB_CONTROLLER_METRICS_ADDR=:8080
K8S_LB_CONTROLLER_HEALTH_ADDR=:8081
K8S_LB_CONTROLLER_LEADER_ELECT=false
K8S_LB_CONTROLLER_LOAD_BALANCER_CLASS=k8s-lb-controller
K8S_LB_CONTROLLER_REQUEUE_AFTER=30s
K8S_LB_CONTROLLER_LOG_LEVEL=info
